.affiliation-index {
    .bg-update-box {
        background-color: $color-bg-search-box-report-jbr-receipt;
    }
    .border-update-box {
        border: 2px solid $color-border-search-box-report-jbr-receipt;
    }
    .btn-pagination {
        border: none;
        background: none;
        cursor: pointer;
        &:disabled {
            cursor: auto;
        }
    }
    .bg-yellow-light {
        background-color: $color-yellow-light;
    }
    .highlight-link {
        color: $color-orange-primary;
        &:hover {
            text-decoration: none;
        }
    }
    #searchGenre {
        &:hover {
            cursor: pointer;
            background-color: $color-orange-light;
        }
    }
    .align-middle {
        vertical-align: middle;
    }
    .opacity-0 {
        opacity: 0;
    }
    .ui-multiselect {
        color: $color-dark;
        min-height: 33px;
    }
    .item-pagination {
        cursor: pointer;
        &.active {
            color: $color-orange-primary;
        }
    }
    .triangle-up,
    .triangle-down {
        width: 0;
        height: 0;
        border-left: .4rem solid transparent;
        border-right: .4rem solid transparent;
        display: inline-block;
        cursor: pointer;
    }
    .triangle-up {
        border-bottom: .7rem solid $color-orange-primary;
    }
    .triangle-down {
        border-top: .7rem solid $color-orange-primary;
    }
    .fix-w-150 {
        min-width: 150px;
        max-width: 150px;
    }
}

.custom-modal-affiliation-index {
    .border-top-bold {
        border-top: 2px solid $color-border-td-table-progress-index;
    }
}

@media screen and (max-width: 576px) {
    .custom-multiselect-affiliation-index {
        .ui-widget-header {
            font-size: .75rem;
        }
        .ui-multiselect-filter {
            input {
                width: 80px;
            }
        }
    }
}