.affiliation-agreement {
    .bg-label {
        background-color: $color-bg-td-notice-info-detail;
    }
    .bg-yellow-light {
        background-color: $color-yellow-light;
    }
    .highlight-link {
        color: $color-orange-primary;
    }
    .highlight-hover {
        &:hover {
            border-bottom: 1px solid $color-green-primary;
        }
    }
    .special-title {
        font-size: 0.9375rem;
        border-left: 5px solid $color-grey-primary;
        background: repeating-linear-gradient(-45deg, #deddd0, #deddd0 5px, #e7e7e2 5px, #e7e7e2 10px);
    }
    .notice {
        font-size: 0.8125rem;
        color: $color-blue-primary;
    }
    .guidance {
        border-bottom: 1px solid $color-grey-primary;
    }
    .provisions {
        height: 370px;
        border: 1px solid $color-dark;
    }
    .agreement-provisions {
        max-height: 300px;
        overflow-y: scroll;
    }
    .btn {
        cursor: pointer;
    }
}