.affiliation-category {

  .collapse-trigger {
    color: $color-default;
    background-color: $color-gray-light;
  }

  .form-group {
    @media screen and (max-width: 575px) {
      background-color: $color-white-light;
      border: none;
    }
  }

  .form__label--border {
    @media screen and (max-width: 575px) {
      strong {
        position: relative;
        padding-left: 8px;
        &:before {
          position: absolute;
          top: 3px;
          content: '';
          width: 4px;
          height: 13px;
          display: block;
          background-color: $color-orange-primary;
        }
      }
    }
  }

  .sub-label {
    strong {
      position: relative;
      padding-left: 15px;
      &:before {
        position: absolute;
        top: -1px;
        content: '';
        width: 8px;
        height: 20px;
        display: block;
        background-color: $color-orange-primary;
      }
    }
  }

  .form-control {
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
  }

  .box-mess {
    padding: .6rem;
    @media screen and (max-width: 575px){
      border-color: lighten($color-coban-primary, 10%) !important;
      background-color: lighten($color-coban-primary, 20%);
      p {
        color: $color-blue-darken;
      }
    }
  }

  .table {
    thead {
      white-space: nowrap;
    }

    td {
      vertical-align: middle;
    }

    .row-divider {
      height: 10px;
    }

    @media screen and (min-width: 992px){
      th {
        width: 10%;
        &:last-child {
          width: 20%;
        }
      }
    }

    @media screen and (max-width: 767px) {
      thead {
        display: none;
      }

      tr {
        border-bottom: 1px solid $color-gray-light;
        td {
          display: grid;
          grid-template-columns: 25% 75%;
          align-items: center;
          &:before {
            content: attr(data-label);
            margin-right: 10px;
            padding: 5px;
            color: $color-default;
            background-color: $color-gray-light;
          }

          &:first-child {
            grid-template-columns: 25% 55% 20%;
          }
        }
      }
    }
  }
}
