.affiliation-resigning {
    .bg-yellow-light {
        background-color: $color-yellow-light;
    }
    .border-left-orange {
        border-left: 0.4375rem solid $color-orange-primary;
    }
    .fix-height-select {
        height: 1.8rem !important;
    }
    .caption {
        background-color: $color-bg-alert-default;
        border: 2px solid $color-orange-light;
        color: $color-orange-light;
    }
}