.auction-search {
    .search-box {
        .switch-btn {
            cursor: pointer;
            border: 1px solid $color-gray-light;
            &.activated {
                background-color: $color-gray-light;
                color: $color-default;
                border-color: $color-gray-light;
                &.left {
                    border-top-left-radius: 5px;
                    border-bottom-left-radius: 5px;
                }
                &.right {
                    border-top-right-radius: 5px;
                    border-bottom-right-radius: 5px;
                }
            }
        }
    }
    .opacity-0 {
        opacity: 0;
    }
    .auction-search-border {
        border: 1px solid $color-gray-light;
        a {
            color: $color-dark;
        }
    }
    .ui-multiselect {
        color: $color-dark;
        min-height: 33px;
    }
    .auction-link {
        font-size: 0.6875rem;
        background-color: $color-white-light;
        a {
            color: $color-dark;
        }
        .py-1 {
            &:last-child {
                color: $color-orange-primary;
            }
        }
    }
    .auction-notice {
        font-size: 0.6875rem;
        color: $color-blue-primary;
    }
    .table-block {
        .row {
            &.p-2 {
                background-color: rgba($color-yellow-light, .5);
            }
        }
        .label-1 {
            background-color: $color-default;
        }
        .label-2,
        .label-3 {
            .fa-square {
                color: $color-orange-primary;
            }
        }
        .label-3 {
            a {
                color: $color-green-primary;
                text-decoration: underline;
                &:hover {
                    color: $color-green-primary;
                }
            }
        }
        .date-lable {
            color: $color-default;
            background-color: $color-orange-light;
        }
        .bg--gray-light {
            background-color: rgba($color-gray-light, .6);
        }
        .border-orange {
            border: 2px solid $color-orange-light;
        }
        .fa-square {
            font-size: .6rem;
        }
        .table {
            tbody {
                td {
                    &:nth-child(6) {
                        a {
                            color: $color-orange-primary;
                            text-decoration: underline;
                            &:hover {
                                color: $color-orange-primary;
                            }
                        }
                    }
                }
            }
        }
    }
    .kameiten-account {
        .collapse-link {
            font-size: 1.0625rem;
            text-decoration: underline;
            color: $color-orange-light;
            cursor: pointer;
        }
    }
    #table-calendar {
        background-color: rgba($color-yellow-light, .2);
        position: relative;
        .text-center {
            &.m-3 {
                background-color: $color-default;
                border: 1px inset $color-gray-light;
                border-radius: 10px;
                thead {
                    background-color: rgba($color-yellow-light, .2);
                }
                .holiday {
                    color: $color-text-danger;
                }
                .out-date {
                    color: rgba($color-gray-light, .5);
                    &.holiday {
                        color: rgba($color-gray-light, .5);
                    }
                }
                .has-events {
                    color: $color-default;
                    border-radius: 50%;
                    background-color: $color-orange-light;
                    &:hover {
                        cursor: pointer;
                    }
                }
            }
        }
        .fa-chevron-left,
        .fa-chevron-right {
            display: none;
        }
    }
}

@media (min-width: 1200px) {
    .auction-search {
        .max-w-xl-10 {
            max-width: 10%;
            &.mb-3 {
                padding-left: .5rem;
            }
        }
        .max-w-xl-20 {
            max-width: 20%;
            &.mb-3 {
                padding-right: .5rem;
            }
        }
        .max-w-xl-35 {
            max-width: 35%;
            &.mb-3 {
                padding-right: .5rem;
                padding-left: .5rem;
            }
        }
        .max-w-xl-10,
        .max-w-xl-20,
        .max-w-xl-35 {
            display: inline-block;
        }
        #table-calendar {
            .fa-chevron-left,
            .fa-chevron-right {
                position: absolute;
                display: inline;
                color: rgba($color-gray-light, .5);
                cursor: pointer;
                top: 40%;
                &:hover {
                    color: $color-orange-primary;
                }
            }
            .fa-chevron-left {
                left: 16%;
            }
            .fa-chevron-right {
                right: 16%;
            }
        }
        .change-calendar-mobi {
            display: none;
        }
    }
}

#list_event_dialog {
    .modal-header {
        border: 0;
    }
    .modal-content {
        border: 3px solid $color-orange-light;
        border-radius: 0;
    }
    .close {
        padding: 2px 2px 4px 4px;
        margin: -4px -4px -16px auto;
        color: $color-white-primary;
        background: $color-orange-light;
        opacity: 1;
        font-size: 0.6875rem;
    }
    .btn {
        &.btn--gradient-green {
            color: $color-default;
        }
    }
}