.autocommission-corp_add {
    .row {
        border-top: 1px solid rgba($color-grey-primary, 0.6);
        border-bottom: 1px solid rgba($color-grey-primary, 0.6);
        border-left: 2px solid rgba($color-grey-primary, 0.6);
        border-right: 2px solid rgba($color-grey-primary, 0.6);
        margin-left: 0;
        margin-right: 0;
        &:first-of-type {
            border-top: 2px solid rgba($color-grey-primary, 0.6);
        }
        &:last-of-type {
            border-bottom: 2px solid rgba($color-grey-primary, 0.6);
        }
    }
    #selection-1 {
        .header {
            background-color: $color-pink-primary;
        }
        .body {
            background-color: rgba($color-pink-light, 0.3);
        }
    }
    #selection-2 {
        .header {
            background-color: $color-coban-primary;
        }
        .body {
            background-color: rgba($color-coban-primary, 0.3);
        }
    }
    #selection-3 {
        .header {
            background-color: $color-gray-light;
        }
        .body {
            background-color: rgba($color-gray-light, 0.3);
        }
    }
    .btn {
        cursor: pointer;
        &.btn--gradient-default {
            border: 1px solid $color-gray-light;
        }
    }
    .bg {
        &--yellow-light {
            background-color: $color-yellow-light;
        }
    }
    .link-orange {
        color: $color-orange-primary;
        text-decoration: underline;
        &:hover {
            color: $color-orange-primary;
        }
    }
    .fa-check-circle {
        color: $color-green-primary;
    }
    .triangle-up,
    .triangle-down {
        width: 0;
        height: 0;
        display: inline-block;
        cursor: pointer;
    }
    .triangle-up {
        border-left: .4rem solid transparent;
        border-right: .4rem solid transparent;
        border-bottom: 0.7rem solid $color-dark;
    }
    .triangle-down {
        border-left: .4rem solid transparent;
        border-right: .4rem solid transparent;
        border-top: 0.7rem solid $color-dark;
    }
}

@media(min-width: 576px) {
    .autocommission-corp_add {
        .row {
            .col-sm-6 {
                &:first-of-type {
                    border-right: 2px solid rgba($color-grey-primary, 0.6);
                }
            }
            &:last-of-type {
                .col-sm-6 {
                    &:first-of-type {
                        border-right: none;
                    }
                }
            }
        }
    }
}