.autocommission-add {
    #corp_id {
        height: 200px;
        overflow-y: scroll;
        border: 1px solid $color-grey-light;
    }
    select,
    input {
        border: 1px solid $color-grey-light;
    }
    .ui-multiselect-filter {
        float: left;
    }
    select {
        &.custom-select {
            width: 300px;
        }
    }
    button,
    input {
        &.btn--gradient-default {
            border: 1px solid $color-gray-light;
            cursor: pointer;
        }
    }
    i {
        &.fa-check-circle {
            color: $color-green-primary;
            font-size: 1rem;
        }
    }
}