.commission-index {
    .headline {
        color: $color-default;
        background-color: $color-gray-light;
    }

    .top-left {
        .green-button-s {
            height: 30px;
            color: $color-default;
            font-size: 14px;
            border: none;
            width: 170px;
        }
        p {
            font-size: 13px;
            line-height: normal;
            margin: 0;
        }
        &.animate {
            animation: pulse 3s infinite;
        }
    }

    .commission_info_title {
        font-size: 14px;
        color: white;
        font-weight: bold;
        background-color: #f29207;
        display: block;
        .problem_box {
            color: $color-problem-box;
            font-size: 14px;
            font-weight: normal;
            background-color: $color-default;
            text-align: center;
            height: 22px;
        }
    }
    .sort-key-block {
        padding-top: 10px;
        font-size: 12px;
    }

    .sort-link {
        display: inline-block;
        padding: 5px 12px;
        border: 1px solid $color-border-sort-link;
        border-radius: 2rem;
        color: $color-table-font;
        text-decoration: none;
        margin-bottom: 10px;
        background: $color-background-sort-link;

        a {
            color: $color-dark;
            text-decoration: none;
            &:hover {
                text-decoration: none;
            }
        }
    }

    @media screen and (max-width: 767px){
        .app_notread{
            color: $color-text-green;
        }
        .has_problem{
            color:$color-button-orange;
        }
        #list-items-footer{
            span{
                padding: 0;
            }
            .page-item {
                &.active {
                    .page-link {
                        z-index: 1;
                        color: $color-default;
                        background-color: $color-a-mobile;
                        border:$color-a-mobile;
                        padding: 0.5rem 0.75rem;
                    }
                }
            }
        }
    }
    .detail_item_value {
        a {
            padding-left: 11px;
        }
    }
    .detail_box {
        font-size: 14px;
        padding-top: 10px;
        padding-bottom: 20px;
        background-color: $color-default;
        border: $color-commission-background-mobile solid 1px;
        .detail_item_title {
            font-weight: bold;
            border-left: 2px solid $color-border-font-mobile;
        }
    }
    .button_block {
        margin-top: 10px;
        padding-top: 25px;
        padding-bottom: 25px;
        background-color: $color-commission-background-mobile;
        .button_block_button_line {
            min-height: 80px;
            margin: 0 auto;
        }
    }
    @keyframes pulse {
        0% {
            opacity: 1;
        }
        100% {
            opacity: 0;
        }
    }
    .indicate-block {
        background-color: $color-bg-alert-default;
        border: 2px solid $color-orange-light;
        margin-top: 33px;
        color: $color-orange-light;
        padding: 9px 10px;
        font-size: 12px;
        float: right;
        width: 100%;
    }
    .update_info_block {
        margin-top: 12px;
        margin-bottom: 0;
        margin-left: 0;
        margin-right: 0;
        color: $color-info-black;
        font-size: 9px;
        line-height: 1.1em;
    }
    .update_info_block2 {
        margin-top: 5px;
        margin-bottom: 0;
        margin-left: 0;
        margin-right: 0;
        color: $color-info-black;
        font-size: 9px;
        line-height: 1.1em;
    }
    .modal-dialog,
    .modal-content {
        height: 80%;
    }
    .modal-body {
        max-height: calc(100% - 140px);
        overflow-y: scroll;
        margin-top: 17px;
    }
    .list_demands {
        border: 2px solid $color-default;
        padding: 5px;
        &:hover {
            background-color: $color-hover-radio-light
        }
        span {
            margin-left: 6px;
        }
    }
    .commission_title {
        margin-top: 20px;
        margin-bottom: 20px;
        margin-right: 0;
        padding-top: 10px;
        padding-bottom: 10px;
        padding-left: 10px;
        padding-right: 10px;
        background-color: $color-white-light;
        background-image: none;
        border-left: none;
        font-weight: bold;
        font-size: 15px;
        color: $color-black-title;
        font-family: $font-family-sans-serif;
        width: 100%;
    }
    .border_left_orange {
        margin: 20px 0px;
        padding: 0px 10px;
        border-left: solid 8px $color-border-left;
        border-bottom: none;
        color: $color-font;
        font-size: 13px;
    }
    .search-block {
        background-color: $color-white-light;

        @media screen and (min-width: 768px) {
            background-color: $color-bg-td-notice-info-detail;
            border: 4px solid $color-bg-thead-report-jbr-commission;
        }

        .search_tbl {
            width: 900px;
            margin-right: auto;
            margin-left: auto;
        }
        .commission-th {
            padding: 5px 10px;
            text-align: right;
            width: 100px;
            display: table-cell;
            vertical-align: inherit;
        }
        .commission-td {
            padding: 5px 10px;
            display: table-cell;
            vertical-align: inherit;
        }
        input[type=text] {
            font-size: 12px;
        }
        .btn_orange_m {
            width: 203px;
            height: 44px;
            line-height: 34px;
            color: $color-default;
            font-weight: bold;
            border: none;
            cursor: pointer;
            font-size: 15px;
        }
        .form-group {
            display: inline-flex;
            width: 100%;
        }
        .start {
            margin-left: -41px;
        }
        .status {
            margin-left: 75px
        }
    }
    .caption_button {
        a {
            color: $color-corp-a;
        }
    }
    .caption_block {
        width: 100%;
        background-color: $color-bg-alert-default;
        border: 2px solid $color-orange-light;
        color: $color-orange-light;
        padding: 9px 10px;
        font-size: 12px;
        height: 100%;
    }
    .btn-orange {
        width: 170px;
        height: 44px;
        line-height: 34px;
        font-weight: bold;
        border: none;
        cursor: pointer;
        font-size: 15px;
    }
    .btn-orange {
        .btn_orange {
            text-decoration: none;
        }
    }

    .calendar-directional {
        font-size: 3rem;
        color: $color-bright-red;
    }


    #commisionTable {
        border-collapse: collapse;
        th {
            background-color: $color-yellow-light;
            font-size: 11px;
            padding: 5px;
            vertical-align: middle;
            border-bottom: 1px $color-grey-light solid;
            border-right: none;
            border-left: none;
            text-align: left;
            a {
                color: $color-font;
            }
        }
        td {
            font-size: 11px;
            padding: 0px;
            border: 1px $color-border-font solid;
            text-align: center;
            vertical-align: middle;
            a {
                color: $color-orange-primary;
                font-size: 11px;
            }
            .btn-show {
                color: $color-black-title;
                font-weight: normal;
                font-size: 12px;
                margin: 3px;
                display: inline-block;
                background-size: contain;
                text-decoration: none;
            }
            .btn-add-addition {
                color: $color-default;
                text-decoration: none;
                font-weight: normal;
                font-size: 12px;
            }
        }
    }
    .close {
        background-color: $color-orange-primary;
        width: 18px;
        position: absolute;
        top: 4px;
        left: 0px;
        right: 3px;
        font-weight: normal;
        text-decoration: none;
        text-align: center;
    }
    .green-button-s {
        height: 30px;
        line-height: 30px;
        text-align: center;
        font-weight: bold;
        color: $color-default;
        font-size: 14px;
        cursor: pointer;
        padding: 0px 20px;
        border: none;
        width: 200px;
    }
    #list_event_dialog {
        .main-title {
            text-align: center;
            font-size: 16pt;
            font-weight: bold;
            color: $color-text-danger;
        }
        .modal-content {
            border: 3px solid $color-border-commission-modal-content;
            border-radius: 0px;
            -webkit-border-radius: 0px;
            -moz-border-radius: 0px;
            background-color: $color-bg-alert-default;
        }
        p.m-0 {
            padding: 0 !important;
        }
        p.p-0 {
            margin: 0 !important;
        }
        .close {
            z-index: 9999;
        }
        #list-demands {
            margin-top: 10px;
            height: 325px;
            overflow-y: scroll;
            overflow-x: hidden;
        }
        .footer-button-wrap {
            margin: 36px 0 10px 0;
            text-align: center;
        }
    }
    .has_problem {
        color: $color-hasproblem-commission-modal-content;
        font-weight: bold;
        font-size: 11px;
    }
    .has-event {
        background: $color-bg-td-accep;
        border-radius: 5px;
    }
    #search-cal-box {
        display: table;
        position: relative;
        width: 100%;
        background-color: $color-search-call-box;
        margin-top: 20px;
    }
    #cell-cal1 {
        display: table-cell;
        padding-top: 10px;
        padding-bottom: 10px;
    }
    #cell-cal2,
    #cell-cal3 {
        display: table-cell;
        padding-left: 10px;
    }
    .down {
        text-decoration: none;
    }
    .app_notread {
        font-weight: 900;
    }
    .ui-corner-all {
        span {
            color: $color-dark;
        }
    }
}

#list-items-footer {
    text-align: left;
    font-size: 13px;
    padding: 10px;
    .next {
        margin-left: 10px;
        color: $color-orange-primary;
    }
    a {
        color: $color-orange-primary !important; // padding-left: 12px;
    }
    span {
        padding: 0 0 0 12px;
        text-decoration: none;
    }
}
