.demand-list {
    .form-container {
        label {
            justify-content: left;
        }
    }
    .bg-update-box {
        background-color: $color-bg-search-box-report-jbr-receipt;
    }
    .border-update-box {
        border: 2px solid $color-border-search-box-report-jbr-receipt;
    }
    .bg-yellow-light {
        background-color: $color-yellow-light;
    }
    .custom-border {
        th,
        td {
            border: 2px solid $color-border-td-table-progress-index;
        }
    }
    .custome-label {
        &::before,
        &::after {
            border: 1px solid $color-gray-light;
            border-radius: 3px;
        }
    }
    .highlight-link {
        color: $color-orange-primary;
        &:hover {
            color: $color-orange-primary;
            text-decoration: none;
        }
    }
    .remove-effect-btn {
        &:focus,
        &:active {
            opacity: 1;
            -webkit-box-shadow: 0 0 0 0.2rem $color-default;
            box-shadow: 0 0 0 0.2rem $color-default;
        }
    }
    .triangle-up,
    .triangle-down {
        width: 0;
        height: 0;
        display: inline-block;
        cursor: pointer;
    }
    .triangle-up {
        border-left: .4rem solid transparent;
        border-right: .4rem solid transparent;
        border-bottom: 0.7rem solid $color-orange-primary;
    }
    .triangle-down {
        border-left: .4rem solid transparent;
        border-right: .4rem solid transparent;
        border-top: 0.7rem solid $color-orange-primary;
    }
}