.general-search-index {
    .bg-box {
        background-color: $color-bg-search-box-report-jbr-receipt;
    }
    .bg-yellow-light {
        background-color: $color-yellow-light;
    }
    .border-box {
        border: 2px solid $color-border-search-box-report-jbr-receipt;
    }
    .box--error {
        display: none;
    }
    #call_suggest_genre {
        &:hover {
            background-color: $color-orange-light;
            cursor: pointer;
        }
    }
    .switch-button {
        cursor: pointer;
    }
    .ui-state-default {
        color: $color-dark;
    }
    .ui-multiselect {
        color: $color-dark;
        min-height: 33px;
    }
    .fix-height-22vh-table-modal {
        height: 22vh;
    }
    .fix-height-50vh-table-modal {
        height: 50vh;
    }
}

@media screen and (min-width: 768px) {
    .general-search-index {
        #move_right,
        #move_up {
            top: 35%;
        }
        #move_left,
        #move_down {
            top: 44%;
        }
    }
}