.notice-info-index {
    .bg-yellow-light {
        background-color: $color-yellow-light;
    }
    .high-light-link {
        color: $color-orange-primary;
        text-decoration: underline;
    }
    .img-animation {
        -webkit-animation-name: fadeIn;
        -webkit-animation-duration: 2s;
        -webkit-animation-iteration-count: infinite;
        -webkit-animation-timing-function: ease-in-out;
        animation-name: fadeIn;
        animation-duration: 2s;
        animation-iteration-count: infinite;
        animation-timing-function: ease-in-out;
    }
    .text-green {
        color: $color-green-primary;
    }
}

@-webkit-keyframes fadeIn {
    from {
        opacity: 0;
    }
    20% {
        opacity: 0.2;
    }
    40% {
        opacity: 0.4;
    }
    60% {
        opacity: 0.6;
    }
    80% {
        opacity: 0.8;
    }
    to {
        opacity: 1;
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    20% {
        opacity: 0.2;
    }
    40% {
        opacity: 0.4;
    }
    60% {
        opacity: 0.6;
    }
    80% {
        opacity: 0.8;
    }
    to {
        opacity: 1;
    }
}