.progress-management-corp-index {
    .bg-yellow-light {
        background-color: $color-yellow-light;
    }
    .corp-form {
        border: 2px solid $color-border-corp-form-progress-index;
        background-color: $color-bg-corp-form-progress-index;
    }
    .high-light {
        color: $color-orange-primary;
        text-decoration: underline;
    }
    .high-light-link {
        color: $color-orange-primary;
        &:hover {
            text-decoration: none;
        }
    }
    .remove-effect-readonly {
        background-color: $color-default;
    }
    .fix-w-10-pct {
        width: 10%;
    }
    .fix-w-25-pct {
        width: 25%;
    }
    .fix-w-65-pct {
        width: 65%;
    }
}

@media screen and (min-width: 768px) {
    .progress-management-corp-index {
        .fix-w-md-5-pct {
            width: 5%;
        }
        .fix-w-md-10-pct {
            width: 10%;
        }
        .fix-w-md-85-pct {
            width: 85%;
        }
    }
}