.progress-management-index {
    .progress-management-badge {
        background-color: $color-bg-badge-progress-index;
        font-size: 0.9375rem;
    }
    .bg-yellow-light {
        background-color: $color-yellow-light;
    }
    .highlight-link {
        color: $color-orange-primary;
        text-decoration: none;
        &:hover {
            color: $color-orange-primary;
            text-decoration: none;
        }
    }
}