.report-corp-agreement-category {
    .bg-search-box {
        background-color: $color-bg-search-box-report-jbr-receipt;
    }
    .bg-yellow-light {
        background-color: $color-yellow-light;
    }
    .border-search-box {
        border: 2px solid $color-border-search-box-report-jbr-receipt;
    }
    .text-wrap {
        word-wrap: break-word;
    }
    .bg-changed {
        background-color: $color-bg-changed-report-corp-agreement-category;
    }
    .bg-added {
        background-color: $color-bg-added-report-corp-agreement-category;
    }
    .bg-deleted {
        background-color: $color-bg-deleted-report-corp-agreement-category;
    }
}