.report-real-time-report {
    .bg-box {
        background-color: $color-bg-search-box-report-jbr-receipt;
    }
    .bg-yellow-light {
        background-color: $color-yellow-light;
    }
    .border-box {
        border: 2px solid $color-border-search-box-report-jbr-receipt;
    }
    .custom-border {
        border-collapse: collapse;
        .item {
            border: 2px solid $color-border-td-table-progress-index;
        }
    }
}