.report-reputation-follow {
    .bg-update-box {
        background-color: $color-bg-search-box-report-jbr-receipt;
    }
    .border-update-box {
        border: 2px solid $color-border-search-box-report-jbr-receipt;
    }
    .custom-border {
        th,
        td {
            border: 2px solid $color-border-td-table-progress-index;
        }
    }
    .bg-yellow-light {
        background-color: $color-yellow-light;
    }
    .highlight-link {
        color: $color-orange-primary;
        &:hover {
            text-decoration: none;
        }
    }
    .bg-hover-row {
        &:hover {
            background-color: $color-yellow-light;
        }
    }
    .btn-pagination {
        cursor: pointer;
        &.active {
            color: $color-orange-primary;
        }
    }
    .align-center {
        vertical-align: middle;
    }
}