.report-development-search {
    .highlight-link {
        color: $color-orange-primary;
        &:hover {
            text-decoration: none;
        }
    }
    .bg-1 {
        background-color: $color-bg-1-report-development-search;
    }
    .bg-2 {
        background-color: $color-bg-2-report-development-search;
    }
    .bg-yellow-light {
        background-color: $color-yellow-light;
    }
    .bg-search-box {
        background-color: $color-bg-search-box-report-jbr-receipt;
    }
    .border-search-box {
        border: 2px solid $color-border-search-box-report-jbr-receipt;
    }
    #datalist_wrapper {
        padding: 0;
        th,
        td {
            padding: .25rem;
        }
    }
    .custom-pagination {
        .pagination {
            float: left;
            .page-link {
                border: none;
            }
        }
    }
    .triangle-up,
    .triangle-down {
        width: 0;
        height: 0;
        display: inline-block;
        cursor: pointer;
    }
    .triangle-up {
        border-left: .4rem solid transparent;
        border-right: .4rem solid transparent;
        border-bottom: 0.7rem solid $color-orange-primary;
    }
    .triangle-down {
        border-left: .4rem solid transparent;
        border-right: .4rem solid transparent;
        border-top: 0.7rem solid $color-orange-primary;
    }
}