.report-jbr-ongoing {
    .custom-border {
        th,
        td {
            border: 2px solid $color-border-td-table-progress-index;
        }
    }
    .bg-yellow-light {
        background-color: $color-yellow-light;
    }
    .highlight-link {
        color: $color-orange-primary;
        &:hover {
            text-decoration: none;
        }
    }
    .pagination {
        cursor: pointer;
    }
    .triangle-up,
    .triangle-down {
        width: 0;
        height: 0;
        display: inline-block;
        cursor: pointer;
    }
    .triangle-up {
        border-left: .4rem solid transparent;
        border-right: .4rem solid transparent;
        border-bottom: 0.7rem solid $color-orange-primary;
    }
    .triangle-down {
        border-left: .4rem solid transparent;
        border-right: .4rem solid transparent;
        border-top: 0.7rem solid $color-orange-primary;
    }
}