.report-jbr-commission {
    .bg-yellow-light {
        background-color: $color-yellow-light;
    }
    .pagination {
        li {
            margin-right: 15px;
            &.disabled {
                cursor: text;
            }
        }
    }
    .highlight-link {
        color: $color-orange-primary;
        &:hover {
            color: $color-orange-primary;
            text-decoration: underline;
        }
    }
}

@media (min-width: 1140px) {
    .col-xl-20 {
        max-width: 20%;
        padding: 1rem;
    }
}