.report-jbr-receipt-follow {
    .bg-search-box {
        background-color: $color-bg-search-box-report-jbr-receipt;
    }
    .bg-yellow-light {
        background-color: $color-yellow-light;
    }
    .border-search-box {
        border: 2px solid $color-border-search-box-report-jbr-receipt;
    }
    .highlight-link {
        text-decoration: none;
        color: $color-orange-primary;
        &:hover {
            text-decoration: none;
        }
    }
    .triangle-up,
    .triangle-down {
        width: 0;
        height: 0;
        display: inline-block;
        cursor: pointer;
    }
    .triangle-up {
        border-left: .4rem solid transparent;
        border-right: .4rem solid transparent;
        border-bottom: 0.7rem solid $color-orange-primary;
    }
    .triangle-down {
        border-left: .4rem solid transparent;
        border-right: .4rem solid transparent;
        border-top: 0.7rem solid $color-orange-primary;
    }
    .fix-w-50,
    .fix-w-100,
    .fix-w-150 {
        padding: .25rem;
        vertical-align: middle;
        text-align: center;
    }
}