.report-antisocial-follow {
    .bg-yellow-light {
        background-color: $color-yellow-light;
    }
    .hover {
        &:hover {
            background-color: $color-yellow-light;
        }
    }
    .highlight-link {
        color: $color-orange-primary;
        &:hover {
            color: $color-orange-primary;
            text-decoration: none;
        }
    }
}