.report-addition {
    .bg-update-box {
        background-color: $color-bg-search-box-report-jbr-receipt;
    }
    .bg-yellow-light {
        background-color: $color-yellow-light;
    }
    .border-update-box {
        border: 2px solid $color-border-search-box-report-jbr-receipt;
    }
    .custom-border {
        th,
        td {
            border: 2px solid $color-border-td-table-progress-index;
        }
    }
    .custom-checkbox {
        position: relative;
        display: block;
        min-height: 1.5rem;
    }
    .custom-input {
        position: absolute;
        z-index: -1;
        opacity: 0;
    }
    .custom-label {
        &::after {
            position: absolute;
            top: 0.25rem;
            right: 0;
            display: block;
            width: 1rem;
            height: 1rem;
            content: "";
            background-repeat: no-repeat;
            background-position: center center;
            background-size: 50% 50%;
        }
        &::before {
            position: absolute;
            top: 0.25rem;
            left: 0;
            display: block;
            width: 1rem;
            height: 1rem;
            pointer-events: none;
            content: "";
            -webkit-user-select: none;
            -moz-user-select: none;
            -ms-user-select: none;
            user-select: none;
            background-color: #dee2e6;
        }
    }
    .bg-yellow-light {
        background-color: $color-yellow-light;
    }
    .highlight-link {
        color: $color-orange-primary;
        &:hover {
            text-decoration: none;
        }
    }
    .bg-hover-row {
        &:hover {
            background-color: $color-yellow-light;
        }
    }
    .align-middle {
        vertical-align: middle;
    }
    .triangle-up,
    .triangle-down {
        width: 0;
        height: 0;
        display: inline-block;
        cursor: pointer;
    }
    .triangle-up {
        border-left: .4rem solid transparent;
        border-right: .4rem solid transparent;
        border-bottom: 0.7rem solid $color-orange-primary;
    }
    .triangle-down {
        border-left: .4rem solid transparent;
        border-right: .4rem solid transparent;
        border-top: 0.7rem solid $color-orange-primary;
    }
}