footer {
  &.default {
    background-color: $color-yellow-primary;
    padding: 10px;
    color: #fff;
    margin-top: 30px;
    
    a {
      color: #fff;
  
      &:hover {
        color: #fff;
        text-decoration: none;
      }
    }
  }
  &.custom-1, &.custom-2 {
    border-top: 5px solid $color-yellow-primary;
  }
  &.custom-2 {
    .container {
      margin-left: 0;
      margin-right: 0;
      max-width: 100%;
      height: 25px;
      background-color: $color-orange-primary;
    }
  }
}