.border {
    &.border-thick {
        border-width: 2px !important;
    }
    &.border-note {
        border-color: $color-orange-light !important;
    }
    &--btn-gray {
        border: 1px solid $color-gray-light;
    }
}

.table {
    &.custom-border {
        th,
        td {
            border: 2px solid $color-border-td-table-progress-index;
        }
        .bg-yellow-light {
            background-color: $color-yellow-light;
        }
    }
}

.border-left-orange {
    border-left: 0.4375rem solid $color-orange-primary;
}
