.modal {

    &.modal-global {
        .modal-content {
            @include border-radius(0);
        }

        .modal-header,
        .modal-footer {
            @include border-radius(0);
            padding-bottom: 0.5rem;
        }

        .modal-title {
            color: $color-blue-darken;
            font-size: 19px;
            font-weight: 700;
        }

        .fa {
            font-size: 1rem;
        }

        .btn {

            min-width: 100px;
        }
    }

    &.modal-row-grid {
        .border {
            border-color: $color-table-header-hover;
        }
        .modal-label {
            background-color: $color-bg-label-modal;

            @media screen and (min-width: 576px){
                border-right: 1px solid $color-table-header-hover;
            }
        }
    }

    &.modal-form-border {
        .form-group {
            border: 1px solid lighten($color-blue-darken, 47%);
            div {
                &:first-child {
                    border-right: 1px solid lighten($color-blue-darken, 47%);
                    background-color: lighten($color-orange-lighter, 12%);
                }
            }
        }

        .form-control {
            @include border-radius(0);
            @include transition(all, ease, .2s);
            color: lighten($color-blue-darken, 20%);
            border: 0;
            background-color: transparent;
            border-bottom: 1px solid transparent;

            &:not([disabled]) {
                background-color: $color-white-light;
                &:hover,
                &:focus {
                    @include box-shadow(none);
                    @include transition(all, ease, .2s);
                    color: $color-blue-light;
                    border-bottom-color: $color-blue-light;
                }
            }

            &.is-invalid {
                &:focus {
                    @include box-shadow(none !important);
                }
            }
        }
    }
}

@media screen and (min-width: 992px){
    .modal-xl {
        max-width: 1140px;
    }
}
