.pseudo-scroll-bar {
    position: fixed;
    overflow: auto;
    display: none;
    .scroll-bar {
        height: 5px;
    }
    &::-webkit-scrollbar {
        height: 10px;
        background-color: rgba($color-default, 0);
    }
    &::-webkit-scrollbar-thumb {
        border-radius: 5px;
        background-color: $color-orange-light;
        background-image: -webkit-linear-gradient(45deg, rgba(255, 255, 255, .2) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, .2) 50%, rgba(255, 255, 255, .2) 75%, transparent 75%, transparent);
    }
}