.tab-menu-custom {
    padding-top: 7px;
    ul {
        border-bottom: 1px dotted $color-border-dotted;
        display: flex;
        flex-wrap: wrap;
        padding-left: 0;
        margin-bottom: 0;
        list-style: none;
        li {
            width: 8.5rem;
            justify-content: center;
            display: inline-flex;
            padding: .1rem .5rem;
            background-color: $color-bg-tab-deactive;
            align-items: center;
            text-align: center;
            margin-bottom: 0 !important;
            border-right: 1px dotted $color-border-dotted;
            cursor: pointer;
            &:first-child {
                border-left: 1px dotted $color-border-dotted;
            }
            &.active {
                border-top: 3px solid $color-border-input-invalid;
                background-color: transparent;
                .link {
                    color: $color-dark;
                    &:hover,
                    &:focus {
                        color: $color-dark;
                    }
                }
            }
            .link {
                border-radius: 0;
                border: none;
                color: $color-link-tab;
                &:hover,
                &:focus {
                    text-decoration: none;
                    color: $color-link-tab;
                }
            }
        }
    }

    @media only screen and (max-width: 667px) {
        padding-top: 2px;
        ul {
            border-bottom: none !important;
            li {
                width: auto;
                margin-top: 5px;
                border-bottom: 1px dotted $color-border-dotted !important;
                min-height: 2.636875rem;
                a {
                    margin-top: auto;
                    margin-bottom: auto;
                }
            }
        }
    }
    @media only screen and (max-width: 375px) {
        ul {
            li {
                &:nth-last-child(2) {
                    border-left: 1px dotted $color-border-dotted;
                }
            }
        }
    }
}
