.fix-w-50 {
    min-width: 50px;
    max-width: 50px;
}

.fix-w-85 {
    min-width: 85px;
    max-width: 85px;
}

.fix-w-100 {
    min-width: 100px;
    max-width: 100px;
}

.fix-w-150 {
    min-width: 150px;
    max-width: 150px;
}

.fix-w-200 {
    min-width: 200px;
    max-width: 200px;
}

.fix-w-250 {
    min-width: 250px;
    max-width: 250px;
}

.fix-button-w-120 {
    max-width: 120px;
    min-width: 120px;
}
