textarea {
    &.fixed {
        resize: none;
    }
}

.w-16-7 {
    width: calc(100%/6);
}

.w-33-33 {
    width: calc(100%/3);
}

.w-66-67 {
    width: calc(200%/3);
}

.link-primary {
    color: $color-orange-primary !important;
}

.ui-multiselect-all,
.ui-multiselect-none {
    color: $color-dark !important;
}