$color-default: #fff;
$color-dark: #000;
$color-yellow-primary: #FABB33;
$color-yellow-light: #FFDEAD;
$color-yellow-lighter: #FFFBE5;
$color-orange-primary: #f27b07;
$color-orange-light: #f3a12d;
$color-orange-lighter: #FFDEAD;
$color-blue-primary: #0000ff;
$color-blue-lighter: #9ad6f8;
$color-blue-light: #0288d1;
$color-blue-dark: #0277bd;
$color-blue-darken: #546e7a;
$color-info: #0000FF;
$color-green-primary: #008000;
$color-green-light: #ddffd6;
$color-grey-primary: #333;
$color-text-gray: #666;
$color-border-text-gray: #555;
$color-grey-light: #E3E3E3;
$color-white-light: #F2F2F2;
$color-white-primary: #FFF;
$color-hover-radio-light: #FFCCCC;
$color-gray-light: #B9B9B9;
$color-coban-primary: #66D9FF;
$color-pink-primary: #FF9999;
$color-pink-light: #FFCCCC;
$color-violet: #5c6bc0;
$color-gradient-default: linear-gradient(to bottom, #f2f2f2, #f2f2f2 50%, #e5e5e5 50%, #e5e5e5);
$color-gradient-orange: linear-gradient(to bottom, #f29207, #f29207 50%, #f27b07 50%, #f27b07);
$color-gradient-orange-light: linear-gradient(to bottom, #fd9c10, #fd9c10 50%, #f68c1c 50%, #f68c1c);
$color-gradient-green: linear-gradient(to bottom, #57b84f, #57b84f 50%, #4ea547 50%, #4ea547);
$color-gradient-gray: linear-gradient(to bottom, #F2F2F2, #F2F2F2 50%, #E5E5E5 50%, #E5E5E5);
$color-gradient-yellow: linear-gradient(to bottom, #fdcd00, #fdcd00 50%, #f27b07 50%, #f27b07);
$color-gradient-header-list: linear-gradient(to bottom, #FFCC00, #FFCC00 50%, #FF7E02 50%, #FF7E02);
$color-gradient-red: linear-gradient(to bottom, #f16f5c, #f16f5c 50%, #e73827 50%, #e73827);
$color-label-category: white;
$color-bg-header-table-m: orange;
$color-bg-form-category-body: #F7F8FA;
$color-border-table-gray: #dee2e6;
$color-text-danger: #FF0000;
$color-border-bt-gray: #d1d1d1;
$color-bg-content-list: #DEDDD0;
$color-bg-icon-list: #A8A8A8;
$color-bg-form-search: #EAEAEA;
$color-bg-thead: #F8F8F8;
$color-mgs-required: #e5020c;
$color-border-input: #ced4da;
$color-border-input-invalid: #dc3545;
$color-bg-input-invalid: #efa2a9;
$color-bg-checked-invalid: #e4606d;
$color-box-shadow-invalid: #dc354540;
$color-bg-alert-default: #fffaf3;
$color-border-dotted: #909090;
$color-bg-tab-deactive: #efefef;
$color-link-tab: #bdc3c7;
$color-table-header: #dae8ef;
$color-table-header-hover: #c1d5df;
$color-bg-td-pink: #FFF0F5;
$color-bg-td-apply: #FFFFC0;
$color-bg-td-accep: #81F79F;
$color-bg-td-dismissal: #F5A9A9;
$color-border-table-back: #777;
$color-bg-row-admin-demand: #f9f9f9;
$color-bg-require-admin-demand: #ffcccc;
$color-bg-progress-admin: #003d4c;
$color-bg-box-general-search-index: #eaeaea;
$color-border-box-general-search-index: #cccccc;
$color-bg-search-box-report-jbr-receipt: #eaeaea;
$color-border-search-box-report-jbr-receipt: #cccccc;
$color-border-td-table-progress-index: #7f7f7f;
$color-bg-1-report-development-search: #FEE8C8;
$color-bg-2-report-development-search: #FEF3E2;
$color-bg-label-modal: #f0eed9;
$color-bg-badge-notice-info-edit: #f2f2f2;
$color-text-small: #ffa500;
$color-bg-badge-notice-info-detail: #f2f2f2;
$color-bg-td-notice-info-detail: #fafafa;
$color-bg-thead-report-jbr-commission: #aeaeae;
$color-border-top-modal-notice-info-detail: #a2a2a2;
$color-border-item-table-auto-commission-index: #7f7f7f;
$color-bg-search-box-report-jbr-receipt: #eaeaea;
$color-border-search-box-report-jbr-receipt: #cccccc;
$color-border-td-table-report-jbr-receipt: #7f7f7f;
$color-border-top-modal-notice-info-detail: #a2a2a2;
$color-text-h3: #2c6877;
$color-border-corp-form-progress-index: #b9b9b966;
$color-bg-corp-form-progress-index: #eaeaea;
$color-border-td-table-progress-index: #7f7f7f;
$color-bg-gray-light-progress-demand: #eee;
$color-progress-step: #FACF84;
$color-progress-step-active: #FAB43C;
$color-progress-step-text: #06c;
$color-black-title: #000000;
$color-bottom: #aeaeae;
$color-border-font: #e1e1e1;
$color-background:#fff2d5;
$color-border-left:#f27a09;
$color-font:#333;
$color-table:#ccc;
$color-bg-search-box-report-jbr-receipt: #eaeaea;
$color-border-search-box-report-jbr-receipt: #cccccc;
$color-border-td-table-progress-index: #7f7f7f;
$color-corp-a: #FFFFFF;
$color-corp-td: #e1e1e1;
$color-row-yellow: #fffb9D;
$color-row-red:#ffe8e8;
$color-odd-td: #fffb9D;
$color-even-td:#ffe8e8;
$color-bg-badge-progress-index: #f2f2f2;
$color-border-input-date: #dcdcdc;
$color-background-tab:rgb(247, 217, 166);
$color-info-black:#484848;
$color-input:#dcdcdc;
$color-bright-red:#FF4500;
$color-table-th:#fdcd00;
$color-td-edit-progressment:#ddd;
$color-notice-edit-progressment:#ffcc00;
$color-bg-row-affiliation-genre-resign:#ffff9c;
$color-border-orange-item-agreement: #f6a356;
$color-bg-gray-item-agreement: #c1c1c1;
$color-bg-yellow-light-item-agreement: #fff2d5;
$color-bg-row-affiliation-genre-resign:#ffff9c;
$color-border-commission-modal-content:#f4a02c;
$color-hasproblem-commission-modal-content:#ce3c3c;
$color-search-call-box:#FFF5EE;
$color-bg-changed-report-corp-agreement-category: #ffffc0;
$color-bg-added-report-corp-agreement-category: #81F79F;
$color-bg-deleted-report-corp-agreement-category: #F5A9A9;
$color-table-font:#212529;
$bgcolor-yellow: #fffb9D;
$bgcolor-red: #ffe8e8;
$color-commission-background-mobile:#dcdcdc;
$color-border-font-mobile:#f29207;
$color-text-green:#57b84f;
$color-button-orange:#fd9c10;
$color-a-mobile:#979191;
$color-border-sort-link:rgb(188, 189, 190);
$color-background-sort-link:rgb(255, 255, 255);
$color-problem-box:#959192;
$color-table-font:#212529;
$color-button-progress-edit:#58A04E;
$row-effect-color: #26a69a;
$color-target-demand:#dfdfdf;
